BODY
{
	color: #FFF;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-color: #000;
	margin-right: 400px;
	margin-left: 20px;
}
#wrapper
{
	margin: 0 12% 2%;
	padding: 10px;
	width: 900px;
	height: 100%;
	border: 1px solid #000;
}
#header
{
	background-color: #000;
	padding: 0;
	height: 76px;
}
#header-bottom
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0;
	position: absolute;
	top: 93px;
	width: 900px;
	height: 31px;
}
#header-bottom UL
{
	background-position: 0 31px;
}
#header-bottom LI
{
	background-position: 0 31px;
	text-transform: uppercase;
	display: inline;
}
#header-bottom A:link, #header-bottom A:visited
{
	color: #007BB2;
	font-size: medium;
	line-height: 20px;
	text-decoration: none;
}
#header-bottom A:hover
{
	color: #FFF;
	font-size: medium;
	line-height: 20px;
	text-decoration: none;
}
#photobooth
{
	background-color: #000;
	margin-top: 5px;
}
#enter
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-right: 10%;
	margin-left: 10%;
	padding-right: 3%;
	padding-left: 3%;
}
#enter H3
{
	color: #FFF;
	background-color: #000;
	margin-right: 10%;
	margin-left: 10%;
	padding-right: 3%;
	padding-left: 3%;
}
#enter P
{
	color: #FFF;
	background-color: #000;
	margin-right: 10%;
	margin-left: 10%;
	padding-right: 3%;
	padding-left: 3%;
}
#enter .logintext
{
	color: #FFF;
	font-size: small;
	background-color: #000;
	margin-right: 10%;
	margin-left: 10%;
	padding-right: 3%;
	padding-left: 3%;
}
#main
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	top: 50px;
	width: 900px;
}
#main2
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-right: 40px;
	width: 900px;
}
.text
{
	color: #C8C8C8;
	font-size: medium;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 10px 200px 0 250px;
}
.text H1
{
	color: #FFF;
	font-size: large;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-indent: 5px;
}
.text H2
{
	color: #FFF;
	font-size: medium;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-indent: 5px;
	margin-top: 14px;
}
.text H3
{
	color: #FFF;
	font-size: medium;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-indent: 5px;
}
.text H4
{
	color: #FFF;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-indent: 5px;
}
.text H5
{
	color: #C8C8C8;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-indent: 5px;
}
.text P
{
	color: #FFF;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
#content
{
	color: #000000;
	font-size: medium;
	font-family: Tahoma;
	margin: 0 230px 0 240px;
}
#content .inner
{
	margin: 10px 20px 10px 40px;
}
#content .inner H2
{
	color: #245185;
	font-size: small;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #B9D2E3;
}
#content .inner UL.features
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#content .inner H3
{
	font-size: small;
}
#content .inner H3 A:link, #content .inner H3 A:visited
{
	color: #EBB1A1;
}
#content .inner P
{
	color: #666666;
	font-size: small;
}
#content .inner .features LI IMG
{
	float: left;
	margin: 0 5px 5px 0;
}
#content .inner P.author
{
	font-weight: bold;
}
#content .inner P.more
{
	margin-top: 0;
}
#content .inner P.more A:link, #content .inner P.more A:visited
{
	color: #1E4C82;
	font-size: small;
	background-image: url("../../../../Desktop/img/more-bullet.gif");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 14px;
}
#mainfeature
{
	color: #FFFFFF;
	font-size: medium;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background-image: url("../../../../Desktop/img/mainimg.jpg");
	background-repeat: no-repeat;
	padding-top: 40px;
	width: 430px;
	height: 560px;
}
#mainfeature H2
{
	color: #FF5C00;
	font-size: large;
	font-weight: bold;
}
#mainfeature H3
{
	color: #FF5C00;
	font-size: large;
	font-weight: bold;
}
#mainfeature P
{
	color: #DCDCDC;
	font-size: medium;
}
#mainfeature P.more
{
	text-align: right;
	margin-top: 0;
}
#mainfeature P.more A:link, #mainfeature P.more A:visited
{
	color: #FFFFFF;
	background-image: url("../../../../Desktop/img/more-bullet.gif");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 14px;
}
#rightcolumn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-top: 36px;
	margin-right: 0;
	padding: 0;
	width: 200px;
	float: right;
}
#rightcolumn H3
{
	color: #FFF;
	font-size: large;
	font-weight: normal;
	line-height: 36px;
	background-image: url("../images/bar.jpg");
	background-repeat: no-repeat;
	text-indent: 10px;
	margin: 0;
	width: 200px;
	height: 33px;
}
#rightcolumn .inner
{
	font-size: large;
	width: 180px;
}
#rightcolumn UL
{
	font-size: small;
	list-style-image: url("../../../../Desktop/img/more-bullet.gif");
	margin-left: 0;
	padding-left: 20px;
}
#rightcolumn P
{
	font-size: medium;
}
#rightcolumn .date
{
	font-weight: bold;
}
#rightcolumn .motm-image
{
	margin: 0 30px 0 20px;
	float: right;
}
#rightcolumn P.more
{
	color: #FF5C00;
	font-weight: 700;
	clear: right;
}
#rightcolumn P.more A:link, #rightcolumn P.more A:visited
{
	color: #FF5C00;
	font-size: small;
	font-weight: 700;
	text-decoration: none;
}
#rightcolumn P.more A:hover
{
	color: #FFF;
	font-size: small;
	font-weight: 700;
	text-decoration: none;
}
#searchform .text
{
	width: 196px;
	border: 1px solid #45BAC0;
}
#searchform .searchbutton
{
	text-align: right;
	margin-top: 4px;
}
#searchform .btn
{
	border: 1px solid #45BAC0;
	background-color: #256290;
	color: #FFFFFF;
}
#leftcolumn
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin: 24px 0 0;
	padding: 0;
	width: 200px;
	float: left;
}
#leftcolumn H3
{
	color: #FFF;
	font-size: large;
	font-weight: normal;
	line-height: 36px;
	background-image: url("../images/bar.jpg");
	background-repeat: no-repeat;
	text-indent: 10px;
	margin: 3px 0 0;
	width: 200px;
	height: 33px;
}
#leftcolumn .inner
{
	font-size: medium;
	margin-top: 12px;
	margin-left: 10px;
}
#leftcolumn .box
{
	font-size: medium;
	margin: 20px 2px 2px;
	padding: 5px;
	width: 200px;
	border: 1px solid #004868;
}
#leftcolumn P
{
	color: #FFF;
	font-size: medium;
}
#leftcolumn A:link
{
	color: #C60;
	font-weight: bold;
}
#leftcolumn P.more A:link, #leftcolumn P.more A:visited
{
	color: #FF5C00;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}
#leftcolumn P.more A:hover
{
	color: #FFF;
	font-size: small;
	font-weight: bold;
	text-decoration: none;
}
#leftcolumn UL
{
}
#leftcolumn LI
{
	color: #FFF;
	font-size: medium;
}
#footer
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	width: 900px;
	border-top: 1px solid #00334A;
	border-bottom: 1px solid #00334A;
	padding-top: 0px;
	margin-bottom: 0px;
}
.line
{
	margin-top: 20px;
	width: 900px;
	border-top: 1px solid #00334A;
}
#footer A:link, #footer A:visited
{
	color: #FFF;
	text-decoration: none;
}
#footer A:hover
{
	color: #C60;
	text-decoration: none;
}
#footer UL
{
	text-align: right;
	margin-top: 1px;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
}
#footer LI
{
	color: #007BB2;
	font-size: small;
	display: inline;
}
.button
{
	color: #FF5C00;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #FFF;
	margin: 5px 5px 5px 345px;
}
.loginfield
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	width: 300px;
	border: 1px solid #007BB2;
}
.cellover
{
}
.pix
{
	cursor: hand;
	width: 90px;
	height: 65px;
	border: 0;
}
.cellborder
{
}
.redcellborder
{
	border: 2px solid #FF0000;
}
.tableHeader
{
	font-size: small;
}
TABLE
{
	color: #FFF;
	font-size: small;
}
A.link1, A.link1:visited
{
	color: #C60000;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-decoration: none;
	cursor: hand;
}
A.link1:hover, A.link1:active
{
	color: #FFF;
	font-size: small;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-decoration: none;
	cursor: hand;
}
.leftspacer
{
	height: 300px;
}
